
body {
    margin: 0;
    font-family: Arial, sans-serif;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-weight: bold;
    font-size: 18px;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.nav-links a:hover {
    color: black;
}

.hero {
    text-align: center;
    padding: 60px 20px;
}

.hero h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.hero p {
    color: #777;
}

.team-section {
    background-color: #f5f7fa;
    padding: 50px 20px;
    text-align: center;
}

.team-section h2 {
    margin-bottom: 30px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 180px;
    border-radius: 10px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
}

.card img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.card h3 {
    margin: 10px 0 5px;
    font-size: 16px;
}

.card p {
    font-size: 12px;
    color: #4a6cf7;
    font-weight: bold;
}

.footer {
    background-color: #0B1E3C;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    font-size: 14px;
}

.socials {
    display: flex;
    gap: 15px;
}
html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.team-section {
    flex: 1;
}